---
---

$lightCol : rgb(230, 228, 213);
$greenCol : rgb(56, 172, 113);
$linksCol : #8EDCE6;
$linksDarkerCol : #218a98;

$bgColor : $greenCol;
$textColor : $lightCol;
$borderColor : $lightCol;


body {
  background :$bgColor ;
  color : $textColor;
  font-family: 'Open Sans Condensed', sans-serif;
  display:flex;
  flex-direction:column;
  min-height:100vh;
  align-items: center;
  a, a:hover {
    text-decoration:none;
    color:$linksCol;
  }
}

body.blog {
  header {
    margin-bottom : 0px;
    display:flex;
    flex-direction:column;
    align-items: center;
    a.latestLink {
      color:$textColor;
    }
    h1 {
      font-weight : bold;
      margin-bottom:0;
    }
    p {
      font-size : 15px;
      letter-spacing:1.8px;
    }
    .links {
      //background:;
      margin-top:0px;
      margin-bottom:25px;
      a {
        font-size:17px;
        //font-family: 'Open Sans', sans-serif;
        margin:30px;
      }
    }

  }

  .content {
    max-width:700px;
    padding : 30px 20px;
    margin-bottom:50px;
    border-top : $borderColor solid 1px;
    font-size:15px;
    background :$textColor ;
    color : rgb(51, 68, 57);
    font-family:'Open Sans', monospace;
    a, a:hover {
      //text-decoration:none;
      color:$linksDarkerCol;
    }
    .date {
      font-size:13px;
      color:$greenCol;
    }
    h1, h2, h3, h4 {
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight:bold;
    }
    h3 {
      margin-top:30px;
    }
    h4 {
      margin-bottom:50px;
      font-style:italic;
    }
    .highlight {
      pre {
        background:mix($bgColor, $textColor, 30%) !important;
        border:solid 1px $textColor;
        border-radius:0;
        code {
          font-size:11px;
          color:inherit;
        }
      }
    }
    code {
      background:transparent;
      font-size:13px;
      padding:inherit;
    }
  }




}

body.home {
  /* centers vertically */
  justify-content: center;

  .content {
    margin-top:50px;
    padding : 30px 80px ;
    width:700px;
    border-left : $borderColor solid 1px;
  }

  .l1 {
    font-size:36px;
    letter-spacing:4px;
    line-height:0px;
    margin-left:-6px;
    .hi {
      font-size:94px;
      letter-spacing:-4px;
    }
    .name {
      font-size:68px;
      letter-spacing: -3px;
      font-weight:bold;
    }
  }
  .l2 {
    font-size:30px;
    letter-spacing:-0.1px;
    margin-bottom:30px;
    .i-write-code {
      font-size:48px;
      font-weight : bold;
    }
  }

  .rest {
    //text-align:justify;
    font-size:20px;
    strong {
      font-size:30px;
      font-weight : bold;
      line-height:0;
    }
  }

}
