---
---

$mainCol : #3f3680;
$mainCol : rgb(230, 228, 213);
$otherCol : rgb(215, 146, 82);


$bgColor : $otherCol;
$textColor : $mainCol;
$borderColor : $mainCol;



body {
  background :$bgColor ;
  min-height:100vh;
  display:flex;
  align-items: center;
  font-family: 'Open Sans Condensed', sans-serif;
  justify-content: center;
}
.content {
  margin-top:50px;
  padding : 30px 80px ;
  color : $textColor;
  width:700px;
  //min-width:400px;
  border-left : $borderColor solid 1px;
}

.l1 {
  font-size:36px;
  letter-spacing:4px;
  line-height:0px;
  margin-left:-6px;
  .hi {
    font-size:94px;
    letter-spacing:-4px;
  }
  .name {
    font-size:68px;
    letter-spacing: -3px;
  }
}
.l2 {
  font-size:30px;
  letter-spacing:-0.1px;
  margin-bottom:30px;
  .i-write-code {
    font-size:48px;
    font-weight : bold;
  }
}

.rest {
  text-align:justify;
  font-size:20px;
  strong {
    font-size:30px;
    font-weight : bold;
  }
}
