---
layout: root
---
{% assign latestPost = site.posts | first %}


<body class="blog">
    <header>
      <a class="latestLink" href="{{latestPost.url}}">
        <h1>implicitdef</h1>
        <p>Technical thoughts</p>
      </a>
      <div class="links">
        <a href="/">about</a>
        <a href="/archives">archives</a>
      </div>
    </header>

  <div class="content">
    <p class="date">{{ page.date | date: "%-d %B %Y"}}</p>
    {{content}}
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        this.page.url = "https://implicitdef.com/{{page.url}}";
        this.page.identifier = "{{page.url}}";
      };
      (function() {
        var d = document, s = d.createElement('script');
        s.src = '//implicitdef.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
  </div>
</body>
