<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- TODO faire toutes les meta et trucs pour referencement -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- My CSS -->
    <link rel="stylesheet" href="/style.css">
    <!-- Google font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  </head>
<body class="container">
  <div class="content">
  {{content}}
  </div>
</body>
