<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Emmanuel Letallieur - Freelance software developer</title>
    <meta name="author" content="Emmanuel Letallieur">
    <meta name="description" content="Emmanuel Letallieur, freelance Scala and React.js developer">
    <link rel="canonical" href="https://www.implicitdef.com" />
    <!-- JS redirect to https -->
    <script>
      var host = "www.implicitdef.com";
      if ((host == window.location.host) && (window.location.protocol != "https:"))
          window.location.protocol = "https";
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- My CSS -->
    <link rel="stylesheet" href="/style.css">
    <!-- Google font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  </head>
<body class="container">
  <div class="content">
  {{content}}
  </div>
</body>
